[submodule "miami-dade-business-and-commerce-gis"]
	path = business-and-commerce
	url = git@github.com:youanden/miami-dade-business-and-commerce-gis.git
[submodule "miami-dade-environment-gis"]
	path = environment
	url = git@github.com:youanden/miami-dade-environment-gis.git
[submodule "miami-dade-home-and-neighborhood-gis"]
	path = home-and-neighborhood
	url = git@github.com:youanden/miami-dade-home-and-neighborhood-gis.git
[submodule "miami-dade-public-safety-gis"]
	path = public-safety
	url = git@github.com:youanden/miami-dade-public-safety-gis.git
[submodule "miami-dade-recreation-and-culture-gis"]
	path = recreation-and-culture
	url = git@github.com:youanden/miami-dade-recreation-and-culture-gis.git
[submodule "miami-dade-social-services-gis"]
	path = social-services
	url = git@github.com:youanden/miami-dade-social-services-gis.git
[submodule "miami-dade-transportation-gis"]
	path = transportation
	url = git@github.com:youanden/miami-dade-transportation-gis.git
